<div class="new-event">
  <header class="new-event-headline">
    새로운 이벤트
  </header>
  <div class="event-section">
    <div class="envet-container">
      <div class="event-carousel">
          <carousel class="carousel-wrap">
              <slide>
                <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/D8/6D728C-7899-4F56-9039-655EB5BB71FB.jpg" alt="first slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/35/4B1B78-9142-4451-ADC4-962324CAC012.jpg" alt="second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/47/ED8F98-96C9-427C-97FE-63447F69AD03.jpg" alt="third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
      </div>
      <div class="event-main-container">
        <div class="movie-event">
        </div>
        <div class="store-event">
        </div>
      </div>
    </div>
    <div class="movie-event-detail"></div>
  </div>
</div>
