$rank-sprite : 'http://image2.megabox.co.kr/mop/home/main/tab_tg.png';
$wish-sprite: 'http://image2.megabox.co.kr/mop/home/btns/btn_movie.png';
$watch-age: 'http://image2.megabox.co.kr/mop/home/bg_age2.png';
$ranking: 'http://image2.megabox.co.kr/mop/home/movie/rank.png';
$movie-wish: 'http://image2.megabox.co.kr/mop/home/bg_you_ck3.png';
$ranking-left: 245px;

$sub-color: #188591;

// All container
.rank-container {
  position: relative;
  background: #f2f2f2;
  height: 680px;
  
  // box office tab
  .rank {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    li {
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-weight: 700;
      color: #666;
      background: #fff;
      border: 1px solid #ccc;
      cursor: pointer;

      &:nth-child(n+2) {
        border-left: 0;
      }

      &:hover {
        background: #666;
        color: #fff;
      }

      &.tabActive {
        background: #666;
        color: #fff;
        border: 1px solid #ccc;
      }
    }
  }
  // box office tab end

  // box office body
  // box office poster
  .rank-movie-container {
    width: 970px;
    height: 452px;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    
    .rank-poster-container {
      border: 1px solid #d9d9d9;
      background: white;

      .rank-poster {
        width: 228px;
        height: 324.89px;
      }

      &:nth-child(n+2) {
        margin-left: 15px;
      }
    }

  // box office marker
    .ranking-marker-0 {
      position: absolute;
      display: block;
      overflow: hidden;
      width: 44px;
      height: 39px;
      top: 10px;
      left: -2px;
      padding: 0;
      margin: 0;
      text-indent: -9999px;
      background: url($ranking);
      background-position: 0 0;
    }

    .ranking-marker-1 {
      @extend .ranking-marker-0;
      left: 244px;
      background-position: 0 -100px;
    }

    .ranking-marker-2 {
      @extend .ranking-marker-0;
      left: 244+245px;
      background-position: 0 -200px;
    }

    .ranking-marker-3 {
      @extend .ranking-marker-0;
      left: 244+245+245px;
      background-position: 0 -300px;
    }
    // box office marker end
  }
  // box office poster end

  .activeComment {
    display: none;
    color: white;
    text-align: center;
  }

  // hover
  // hover 1
  .rank-poster-container-0:hover {
    .poster-hover-0 {
      display: block;
      width: 228px;
      height: 324.89px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;

      .contents-container {
        // background: #188591;
        margin-top: 100px;
      }

      .rankStar-container {
        display: flex;
        justify-content: center;

        .rankStar-1 {
          width: 32px;
          height: 30px;
          background: url('http://image2.megabox.co.kr/mop/home/star_big_off.png');
          cursor: pointer;
        }
        .rankStar-2, .rankStar-3, .rankStar-4, .rankStar-5 {
          @extend .rankStar-1;
        }

        .hoverActive {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }

        .rateSelect {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }
      }

      .activeComment {
        display: block;
        color: white;
        text-align: center;
        margin-top: 20px;
      }
      
      .rank-movie-wish-0 {
        position: absolute;
        bottom: 0;
        width: 228px;
        height: 76px;
        background: url($movie-wish);
        background-position: 0 0;
        
        &:hover {
          background: url($movie-wish);
          background-position: 0 -86px;
          cursor: pointer;
        }
      }

      .like-select {
        background: url($movie-wish);
        background-position: 0 -86px;
        cursor: pointer;
      }
      
    }
  }
  // hover 1 end

  // hover 2
  .rank-poster-container-1:hover {
    .poster-hover-1 {
      display: block;
      width: 228px;
      height: 324.89px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      
      .contents-container {
        background: #188591;
        margin-top: 100px;
      }

      .rankStar-container {
        display: flex;
        justify-content: center;

        .rankStar-1 {
          width: 32px;
          height: 30px;
          background: url('http://image2.megabox.co.kr/mop/home/star_big_off.png');
          cursor: pointer;
        }
        .rankStar-2, .rankStar-3, .rankStar-4, .rankStar-5 {
          @extend .rankStar-1;
        }

        .hoverActive {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }

        .rateSelect {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }
      }

      .activeComment {
        color: white;
        text-align: center;
        margin-top: 20px;
      }
      
      .rank-movie-wish-1 {
        position: absolute;
        bottom: 0;
        width: 228px;
        height: 76px;
        background: url($movie-wish);
        background-position: 0 0;
    
        &:hover {
          background: url($movie-wish);
          background-position: 0 -86px;
          cursor: pointer;
        }
      }

      .like-select {
        background: url($movie-wish);
        background-position: 0 -86px;
        cursor: pointer;
      }

    }
  }
  // hover 2 end

  // hover 3
  .rank-poster-container-2:hover {
    .poster-hover-2 {
      display: block;
      width: 228px;
      height: 324.89px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;

      .contents-container {
        background: #188591;
        margin-top: 100px;
      }

      .rankStar-container {
        display: flex;
        justify-content: center;

        .rankStar-1 {
          width: 32px;
          height: 30px;
          background: url('http://image2.megabox.co.kr/mop/home/star_big_off.png');
          cursor: pointer;
        }
        .rankStar-2, .rankStar-3, .rankStar-4, .rankStar-5 {
          @extend .rankStar-1;
        }

        .hoverActive {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }

        .rateSelect {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }
      }

      .activeComment {
        color: white;
        text-align: center;
        margin-top: 20px;
      }

      .rank-movie-wish-2 {
        position: absolute;
        bottom: 0;
        width: 228px;
        height: 76px;
        background: url($movie-wish);
        background-position: 0 0;
    
        &:hover {
          background: url($movie-wish);
          background-position: 0 -86px;
          cursor: pointer;
        }
      }

      .like-select {
        background: url($movie-wish);
        background-position: 0 -86px;
        cursor: pointer;
      }

    }
  }
  // hover 3 end

  // hover 4
  .rank-poster-container-3:hover{
    .poster-hover-3 {
      display: block;
      width: 228px;
      height: 324.89px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;

      .contents-container {
        background: #188591;
        margin-top: 100px;
      }

      .rankStar-container {
        display: flex;
        justify-content: center;

        .rankStar-1 {
          width: 32px;
          height: 30px;
          background: url('http://image2.megabox.co.kr/mop/home/star_big_off.png');
          cursor: pointer;
        }
        .rankStar-2, .rankStar-3, .rankStar-4, .rankStar-5 {
          @extend .rankStar-1;
        }

        .hoverActive {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }

        .rateSelect {
          background: url('http://image2.megabox.co.kr/mop/home/star_big_on.png');
          cursor: pointer;
        }
      }

      .activeComment {
        color: white;
        text-align: center;
        margin-top: 20px;
      }

      .rank-movie-wish-3 {
        position: absolute;
        bottom: 0;
        width: 228px;
        height: 76px;
        background: url($movie-wish);
        background-position: 0 0;
    
        &:hover {
          background: url($movie-wish);
          background-position: 0 -86px;
          cursor: pointer;
        }
      }

      .like-select {
        background: url($movie-wish);
        background-position: 0 -86px;
        cursor: pointer;
      }

    }
  }
  // hover 4 end
  // hover end


  // information
  .rank-info-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
  

    .rank-info {
      width: 200px;
      height: 100px;
      font-weight: 600;
      font-size: 1.3em;
      color: #363636;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;

      span {
        background: url($watch-age) 0 -999px no-repeat;
        display: inline-block;
        width: 17px;
        height: 18px;
        margin-right: 4px;
        text-indent: -99999px;
        overflow: hidden;
        vertical-align: middle;

        &.age-전체.관람 { background-position: 0 0; }
        &.age-12세.관람가 { background-position: -60px 0; }
        &.age-15세.관람가 { background-position: -90px 0; }
        &.age-청소년.관람불가 { background-position: -30px 0;}

      }

      .rank-info-detail {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        button {
          width: 95px;
          height: 45px;
          background: #f2f2f2;
          color: #727272;
          font-weight: 700;
          font-size: 0.8em;

          &:hover {
            background: #fff;
            border: 1px solid $sub-color;
            color: $sub-color;
          }
          
          &.infoActive {
            background: #fff;
            border: 1px solid $sub-color;
            color: $sub-color;
            
          }
        }
      }
    }
  }
}