<!-- box office tab -->
<div class="rank-container">
  <ul class="rank">
    <li *ngFor="let rank of Ranks" [ngClass]="{tabActive: rankState===rank}" 
      (click)="rankState=rank">{{rank}}</li>
  </ul>
  
  <!-- box office body -->
  <div class="rank-movie-container">

    <!-- poster -->
    <ul *ngFor="let rankmovie of rankService.movies | rankSort :rankState; index as i" class ="rank-poster-container">
      <div *ngIf="i <= 5">
        <span *ngIf="rankState==='박스오피스'" class="ranking-marker-{{i}}"></span>
        <img class ="rank-poster" src="{{rankmovie['img_url']}}" alt="{{rankmovie.title}}">
        
        <!-- movie title & information -->
        <div class="rank-info-container">
          <li class="rank-info"><span class="age-{{rankmovie.age}}"></span>{{rankmovie['title']}}
            <div class="rank-info-detail">
              <button class="detail-info">상세정보</button>
              <button class="rank-booking-{{rankmovie.title}}" id="quick-booking"
               (click)="rankmovie.selected=!rankmovie.selected" (click)="selectMovie(rankmovie)">예매하기</button>
              <!-- <button class="rank-booking" id="quick-booking" (click)="rootService.quickBookingModalState = true">예매하기</button> -->
            </div>
          </li>
        </div>
        <!-- movie title & information end-->
        
      </div>
    </ul>
    <!-- poster end-->
    
    <!-- hover -->
    <div *ngFor="let rankmovie of rankService.movies; index as i">
      <div *ngIf="i <= 3">
        <div class="rank-poster-hover-{{i}}">
          <ul class="rankStar">
            <li *ngFor="let rankStar of RankStars; index as i" [ngClass]="{starActive: starState===rankStar}" 
            (mouseenter)="starState=rankStar" class="rankStar-{{i}}"></li>
          </ul>
          <p *ngFor="let rankStarContent of RankStarContents; index as i" class="rankStar-review-{{i}}"></p>
          <div class="rank-movie-wish"></div>
        </div>
      </div>
    </div>
    <!-- hover end-->

  </div>
  <!-- box office body end-->
</div>
<!-- box office tab end-->
