<!-- box office tab -->
<div class="rank-container">
  <ul class="rank">
    <li *ngFor="let rank of Ranks" [ngClass]="{tabActive: rankState===rank}" 
      (click)="rankState=rank">{{rank}}</li>
  </ul>
  
  <!-- box office body -->
  <div class="rank-movie-container">

    <!-- poster -->
    <ul *ngFor="let rankmovie of RankMovies | rankSort :rankState; index as i" class ="rank-poster-container">
      <div *ngIf="i <= 3">
        <span *ngIf="rankState==='박스오피스'" class="ranking-marker-{{rankmovie.id}}"></span>
        <img class ="rank-poster" src="{{rankmovie.url}}" alt="{{rankmovie.title}}">
        <div class="rank-poster-hover"></div>

    <!-- movie title & information -->
        <div class="rank-info-container">
          <li class="rank-info"><span class="{{rankmovie.age}}"></span>{{rankmovie.title}}
            <div class="rank-info-detail">
              <button class="detail-info">상세정보</button>
              <button class="rank-booking">예매하기</button>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
