.text-hidden {
  text-indent: -9999px;
  overflow: hidden;
}

.login-modal {
  width: 380px;
  height: 345px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.5);
  border-radius: 2% 2% 0 0;
  background: #fff;

  input {
    border: 1px solid #d9d9d9;
    background-color: #f8f8f8;
  }

  header {
    text-align: right;
    padding: 15px;
    .close-modal {
      background: url('http://image2.megabox.co.kr/mop/home/btns/btn_close.png') no-repeat;
      text-indent: -9999px;
      overflow: hidden;
      width: 17px;
    }
  }

  main {
    padding-top: 25px;
    padding: 10px 35px 30px 35px;
    .title {
      background: url('http://image2.megabox.co.kr/mop/home/btns/socialLogin_bg.png') no-repeat 0 -9px;
      padding-left: 80px;
    }

    form {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      .input-group {
        width: 235px;

        input {
          margin-bottom: 10px;
          padding: 3px 5px;
          width: 100%;
        }
      }

      .active {
        background: #666666;
      }

      button {
        background: #351F66;
        color: #fff;
        width: 65px;
        height: 60px;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }

    .saveId-container {
      label {
        color: #666;
        font-size: 0.9rem;
        vertical-align: text-top;
      }

      .checked {
        position: relative;
      }

      .checked::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('http://image2.megabox.co.kr/mop/home/bg_input.png') 0 0 no-repeat;
        cursor: pointer;
      }

      .active.checked::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('http://image2.megabox.co.kr/mop/home/bg_input.png') -32px 0 no-repeat;
        cursor: pointer
      }
    }
  }

  footer {
    background-color: #f2f2f2;
    border-top: 1px solid #d7d7d7;
    margin-top: 30px;
    height: 70px;

    .wrapper {
      padding: 15px 35px 0 35px;

      ul {
        display: flex;

        li::before {
          content: "";
          display: inline-block;
          background: url('http://image2.megabox.co.kr/mop/home/dot.png') no-repeat 0 0;
          width: 5px;
          height: 7px;
        }

        li {
          width: 50%;
        }
      }
    }
  }

  .advertisement {
    img {
      width: 100%;
      height: 80px;
    }
  }
}

// 얼러트
.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(0,0,0,0.4);
}
.custom-alert {
  position: relative;
  width: 450px;
  min-width: 450px;
  margin: 290px auto;
  background-color: #fff;
  zoom: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.alert-header {
  position: relative;
  padding-top: 12px;
  height: 42px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.alert-header > h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.alert-body {
  padding: 30px 20px 15px;
  text-align: center;
  font-size: 13px;
  line-height: 26px;
}

.alert-body > p {
  padding: 0;
  margin: 0;
}

.alert-footer {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.alert-confirm {
  margin: 0 5px;
  display: inline-block;
  width: 68px;
  height: 30px;
  background-color: #503396;
}

.fa-times {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 16px;
}