<section class="login-modal">
  <header>
    <button class="close-modal" (click)="rootService.loginModalState = false">닫기</button>
  </header>
  <main>
    <h2 class="title">로그인</h2>
    <form [formGroup]="userForm" (ngSubmit)="submit(checked)">
      <div class="input-group">
        <input type="email" formControlName="userId" 
        placeholder="아이디" [(ngModel)]="inputId">
        <input type="password" formControlName="userPassword" 
        placeholder="비밀번호">
      </div>
      <button [disabled]="userForm.invalid"
      [class.active]="userForm.invalid">로그인</button>
    </form>
    <div class="saveId-container">
      <label for="saveId">아이디 저장</label>
      <input type="checkbox" id="saveId" class="checked"
      [class.active]="checked" (change)="event()" #saveId>
    </div>
  </main>
  <footer>
    <div class="wrapper">
      <ul>
        <li>
          <a routerLink='sign-up'
          (click)="rootService.loginModalState = false">회원가입</a>
        </li>
        <li>
          <a>ID/PW 찾기</a>
        </li>
      </ul>
    </div>
  </footer>
  <div class="advertisement">
    <img src="http://mlink-cdn.netinsight.co.kr/2019/07/15/ddfceb46e8c11c11e718f63985ba842c.jpg" alt="영화 수상한 교수 8월 15일 개봉!!!">
  </div>
</section>