<app-mypage-navi></app-mypage-navi>
<router-outlet></router-outlet>
<body>

  <div class="my-page-container">
    <div class= "inner-container">

      <h2>윤해서 님, 오늘도 영화처럼 멋진 하루 되세요!</h2>

      <div class= "row1">
        <div class= "title-color"></div>
        <div class= "title">
          <span>2019년 일반</span>
          <button>과거 등급 조회</button>
          <div class= "title-color"></div>
        </div>

        <div class= "row1-mainbox">

          <div class= "memberbox-left">
            <div class="words-wrap">
              <h3>메가박스 포인트</h3>
              <button>더보기</button>
            </div>
            <div class= "point-wrap">
              <strong class="nowpoint-text">현재 보유 포인트</strong>
              <div class="nowpoint-img"></div>
              <strong class="nowpoint-num">0P</strong>
            </div>
            <div class= "point-amount">
              <ul>
                <li>
                  <span><i class="fa fa-angle-right c_mint"></i>2015.11.24 이전 적립 포인트</span>
                  <a>0P</a>
                </li>
                <li>
                  <span><i class="fa fa-angle-right c_mint"></i>2015.11.24 이후 적립 포인트</span>
                  <a>0P</a>
                </li>
              </ul>
            </div>
          </div> <!-- memberbox-left -->

          <div class= "memberbox-middle">
            <ul>
              <li>
                <strong>bb2019년 누적 포인트</strong>
                <strong>ff0P</strong>
              </li>
              <li>
                <strong>티켓 구매 누적포인트</strong>
                <strong>gg0P</strong>
              </li>
              <li>
                <strong>이벤트 누적포인트</strong>
                <strong>0P</strong>
              </li>
              <li>
                <strong>소멸예정 포인트</strong>
                <strong>0P</strong>
                <p>
                  <small>(2019년 7월 31일 영업 종료시)</small>
                  <button>더보기</button>
                </p>
              </li>
            </ul>

          </div> <!-- memberbox-middle -->

          <div class= "memberbox-right">
            <div>
              <h3>관람권 / VIP쿠폰</h3>
              <button>더보기</button>
            </div>

            <ul>
              <li>
                <strong>사용가능한 VIP 영화 쿠폰</strong>
                <strong>0매</strong>
              </li>

              <li>
                <strong>사용가능한 VIP 매점 쿠폰</strong>
                <strong>0매</strong>
              </li>

              <li>
                <strong>사용가능한 관람권</strong>
                <strong>0매</strong>
              </li>

              <li>
                <strong>사용가능한 기타쿠폰</strong>
                <strong>0매</strong>
              </li>
            </ul>
            <button>등록하기</button>
          </div> <!-- memberbox-right -->


        </div> <!-- row1 mainbox -->
      </div> <!-- row1 -->

      <div class= "row2">
        <div class= "box1">
          <div class= "Mypage-user">
            <div class= "user-col1">
              <h3>개인정보</h3>
              <button>수정하기</button>
            </div>

            <ul class= "user-col2">
              <li>
                <strong>휴대폰</strong>
                <span>hh010-****-7621</span>
              </li>

              <li>
                <strong>선호 영화관</strong>
                <span>상봉</span>
              </li>

              <li>
                <strong>SMS수신여부</strong>
                <span class= "sms-button">
                  <button>거부</button>
                  <button>수신</button>
                </span>
              </li>
            </ul>

          </div> <!-- Mypage-user -->

          <div class= "Mypage-cinemaNews">
            <div class="cinemaNews-col1">
              <h3>선호 영화관 소식</h3>
              <button>선호 영화관 등록/수정</button>
            </div> <!-- cinemaNews-col1 -->

            <ul class= "cinemaNews-col2">
              <li>
                <a href="#">공지사항</a>
              </li>
              <li>
                <a href="#">이벤트</a>
              </li>
            </ul> <!-- cinemaNews-col2 -->

            <ul class= "cinemaNews-col3">
              <div class="notice">
                <li>
                  <p>
                    <strong>서울/상봉</strong>
                    <span>| 2019.07.04</span>
                  </p>
                  <a href="#">[상봉] 정전 관련 안내</a>
                </li>
                <li>
                  <p>
                    <strong>서울/상봉</strong>
                    <span>| 2019.06.28</span>
                  </p>
                  <a href="#">[상봉] 관람요금 조정 안내</a>
                </li>
                <li>
                  <p>
                    <strong>서울/상봉</strong>
                    <span>| 2019.02.18</span>
                  </p>
                  <a href="#">[상봉] 요금기준 변경 안내</a>
                </li>
              </div>

              <div class="event">
                <li>
                  <p>
                    <strong>서울/[상봉] 2019년...</strong>
                    <span>| 2019.01.22</span>
                  </p>
                  <a href="#">[상봉] 2019년 시즌둰 판매</a>
                </li>
              </div>
            </ul>

            <button>더보기</button>

          </div> <!-- Mypage-cinemaNews -->

        </div> <!-- box1 -->

        <div class= "box2">
          <div class= "mypage-mainbox">
            <h3>최근 예매 내역</h3>
            <button>더보기</button>
          </div>
        </div> <!-- box2 -->

        <div class= "box3">
          <div class= "mypage-shopping">
            <div class= "shopping-col1">
              <h3>스토어 구매내역</h3>
              <button>더보기</button>
            </div>

            <div class= "shopping-col2">
              <strong>구매일</strong>
              <strong>상품명</strong>
              <small>조회된 내역이 없습니다.</small>
            </div>

          </div> <!-- mypage-shopping -->

          <div class= "mypage-moviestory">
            <div class="moviestory-col1"><h3>나의 무비스토리</h3></div>
            <ul class= "moviestory-col2">
              <li>
                <strong>보고싶어</strong>
                <strong>0</strong>
              </li>
              <li>
                <strong>본영화</strong>
                <strong>0</strong>
              </li>
              <li>
                <strong>나의 한줄평</strong>
                <strong>0</strong>
              </li>
              <li>
                <strong>나의 포스트</strong>
                <strong>0</strong>
              </li>
            </ul>
          </div> <!-- mypage-moviestroy -->

        </div> <!-- box3 -->

      </div> <!-- row2 -->

    </div>
  </div>
</body>

