// 전체 컨테이너
.my-page-container {
  width: 970px;
  margin: 0 auto;
  // background: #B4D491;
}

// 이름 출력부분

.inner-container {
  /* width: 847px; */
  // background: purple;
  /* margin-left: 61.5px; */
}

.inner-container h2 {
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
  font-size: 24px;
  margin: 60px 0 20px 0;
}

.row1 {
  // background: skyblue;
  border: 5px solid #7B67AC;
  border-top: 0px;
}

.title {
  color: white;
  background: #7B67AC;
}

.title-color {
  height: 17px;
  background: #7B67AC;
}

.title span {
  font-size: 16px;
  margin: 20px;
  font-weight: 600;
}

.title button {
  width: 89px;
  height: 20px;
  border: 1px solid #1F1140;
  background: #351F67;
  font-size: 11px;
}

// 1줄 본박스

.row1-mainbox {
  display: flex;
  height: 200px;
  justify-content: space-between;
}

.memberbox-left {
  // background: lightblue;
  width: 273px;
  margin: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
}

.words-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.eachbox-title {
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #4D4D4D;
  // background: blue;
  width: 140px;
  float: left;
}

.words-wrap button {
  width: 60px;
  height: 20px;
  background: white;
  border: 1px solid darkgray;
}

.point-wrap strong {
  // background: #B4D491;
  width: 180px;
  margin-top: 10px;
  float: left;
}

.nowpoint-text {
  color: #673AB7;
  font-weight: 700;
  font-size: 14px;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.nowpoint-num {
  font-size: 30px;
  color: #351F67;
  font-weight: 700;

}

.nowpoint-img {
  float: right;
  width: 75px;
  height: 75px;
  margin-top: 10px;
  // background: #B4D491;
  background: url(http://image2.megabox.co.kr/mop/home/mypage/main_icon6.png) no-repeat;
  background-size: 100%;
}

.point-amount {
  // background: #B4D491;
  font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
  font-size: 13px;
}

.point-amount {
  margin-top: -25px;
}

.point-amount li {
  padding: 20px 0 0 0;
}

.point-amount span {
  float: left;
  color: #7F7F7F;
}

.point-amount a {
  float: right;
  color: #351F67;
}


// 첫줄 중간박스
.memberbox-middle {
  // background: coral;
  width: 300px;
  margin: 20px 10px 20px 20px;
  /* margin-right: 25px; */
}

.mb01 {
  color: #333;
  font-weight: 700;
  font-size: 13px;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.mb02 {
  color: #666;
  font-weight: 700;
  font-size: 13px;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.mb03 {
  color: #666;
  font-size: 12px;
}


.mp01 {
  float: right;
  color: #503396;
  font-size: 14px;
  font-weight: 550;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.mp02-button {
  background: #503396;
  color:white;
  width: 65px;
  height: 20px;
  border: 1px solid #1F1140;
  font-size: 12px;
  float: right;
}

.mw01-button {
  width: 55px;
  height: 20px;
  border: 1px solid #9A9A9A;
  background: white;
  font-size: 12px;
  float: right;
  text-align: center;
}

.c_mint {
  color: #198591;
}

.middlebox-line {
  // display: block;
  background: #CCCCCC;
  // width: 100%;
  height: 2px;
  margin: 8px 0 8px 0;
}

.space-bottom {
  margin-bottom: 10px;
}

.space-around {
  margin: 4px 0 4px 0;
}


//오른쪽 박스 시작
.memberbox-right {
  width: 272px;
  margin: 20px 10px 20px 20px;
}


.mb04 {
  float: left;
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.mb06 {
  float: right;
  color: #4C4C4C;
  font-size: 13px;
  font-weight: 600;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.custom {
  width: 100%;
  display: block;
  // background: plum;
  height: 28px;
}


// 두번째 박스라인

.row2 {
  display: flex;
  justify-content: space-between;
  background: skyblue;
}

.box1, .box2, .box3 {
  margin-top: 30px;
  width: 316px;
  background: purple;
}


.Mypage-user {
  height: 253px;
  background: #F2F2F2;
  border: 1px solid rgb(192, 192, 192);
  padding: 40px 15px 0 15px;
}

.user-col1 {
  width: 100%;
  background: lightgreen;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-col1 button {
  width: 61px;
  height: 22px;
}

.col01 {
  margin: 15px 0 15px 0;
  width: 100%;
  background: #198591;
  display: flex;
  justify-content: space-between;
}

.Mypage-cinemaNews {
  margin-top: 13px;
  height: 322px;
  background: yellow;
  border: 5px solid #f2f2f2;
  padding: 35px 15px 0 15px;
}

.notice, .event {
  display: none;
}

.active {
  display: block;
}

.news-size {
  background: lightcoral;
  width: 100%;
  margin: 5px 0 5px 0;

}


.mypage-mainbox {
  height: 588px;
  background: #7B67AC;
  border: 5px solid #f2f2f2;
}

.mypage-wants {
  height: 333px;
  background: yellowgreen;
  border: 5px solid #f2f2f2;
}

.mypage-watchedmovie {
  margin-top: 13px;
  height: 242px;
  background: lightcoral;
  border: 5px solid #f2f2f2;
}

//row2 세부css
