<section class="after-login">
  <header>
    <div class="id-group">
      <strong class="id">{{userEmail}}</strong>
      <span>님</span>
    </div>
    <span class="membership">일반</span>
  </header>
  <main>
    <section class="summary-information">
      <div class="membership-point">
        <span class="info-title">멤버십포인트</span>
        <span>3,700 P</span>
      </div>
      <div class="favorite-theater">
        <div>
          <span class="info-title">선호영화관</span>
          <ul>
            <li *ngFor="let item of userRegion"
            class="prefer-list">{{item.theater}}</li>
          </ul>
        </div>
        <a (click)="preferTheaterService.preferState = true">변경</a>
      </div>
      <div class="special-membership">
        <span class="info-title">스페셜멤버십</span>
        <a>가입하기</a>
      </div>
    </section>
    <section class="move-link">
      <a class="my-megabox text-hidden" (click)="rootService.myPageModal = false"
      routerLink='mypage'>나의 메가박스</a>
      <a class="coupon text-hidden">쿠폰/관람권</a>
      <a class="store-list text-hidden">스토어 구매내역</a>
    </section>
  </main>
  <footer>
    <span>마지막 로그인 {{userLastLogin}}</span>
    <button (click)="logout()" class="logout">로그아웃</button>
    <button class="cancel text-hidden">닫기</button>
  </footer>
</section>
<prefer-theaters *ngIf="preferTheaterService.preferState"></prefer-theaters>