.text-hidden {
  text-indent: -9999px;
  overflow: hidden;
}

.after-login {
  width: 310px;
  background: #fff;
  box-shadow: 0 5px 6px rgba(0,0,0,0.5);
  border-radius: 2% 2% 0 0;
  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;

    .id-group {
      display: inline-block;

      .id {
        font-size: 1.1rem;
        font-weight: 600;
        margin-right: 5px;
      }
    }
    
    .membership {
      border-left: 1px solid #e5e5e5;
      padding-left: 5px;
      color: #198591;
      font-weight: 700;
    }
  }

  main {
    .summary-information {
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
      font-size: 0.8rem;

      .membership-point {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

      }

      .favorite-theater {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        
        div {
          display: flex;

          .info-title {
            margin-right: 15px;
          }
          
          ul {
            display: flex;
            justify-content: flex-start;
  
            .prefer-list {
              font-size: 0.8rem;
              color: #999;
              margin-right: 7px;
            }
          }
        }



        a {
          color: #503396;
          cursor: pointer;
        }
      }

      .special-membership {
        display: flex;
        justify-content: space-between;

        a {
          color: #503396;
        }
      }

    }

    .move-link {
      $img: 'http://image2.megabox.co.kr/mop/home/btns/login_middle_icon.png';
      display: flex;
      justify-content: space-between;
      padding: 20px 15px;

      .my-megabox {
        display: block;
        background: url($img) no-repeat 5px 0;
        height: 75px;
        width: 78px;
      }

      .coupon {
        display: block;
        background: url($img) no-repeat -100px 0;
        height: 75px;
        width: 78px;
      }

      .store-list {
        display: block;
        background: url($img) no-repeat -203px 0;
        height: 75px;
        width: 78px;
      }
    }
  }

  footer {
    background-color: #f2f2f2;
    height: 35px;
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    span {
      font-size: 12px;
      color: #666;
    }

    .logout {
      border: 1px solid #c1c1c1;
      background-color: #fff;
      text-align: center;
      color: #666;
      padding: 3px 8px;
    }

    .cancel {
      background: url('http://image2.megabox.co.kr/mop/home/btns/btn_close.png') 0 -90px no-repeat;
      width: 10px;
      height: 10px;
    }

  }
}