div.join-wrap {
  position: relative;
  background-color: #f2f2f2;
  border-top: 1px solid #e1e1e1;
  border-bottom: 3px solid #503396;
  margin-bottom: 50px;
}

header.join {
  display: flex;
  width: 970px;
  height: 50px;
  margin: 0 auto;
}

header.join button {
  color: #503396;
  font-size: 18px;
  font-weight: 700;
}

h1.join-info {
  width: 970px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
}

div.main-content {
  width: 970px;
  margin: 0 auto;
}

div.form-wrapper {
  display: flex;
  align-items: center;
  border-bottom:  1px solid #dcdcdc;
}

h4.basic-info {
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 1rem;
    letter-spacing: -0.05em;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #351F66;
}

.id, .password, .check-password, .name, .birth, .phone, .email {
  background-color: #f8f8f8;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 16px 16px 16px 25px;
  width: 160px;
}

.id-wrap, .password-wrap, .check-password-wrap,
.name-wrap, .birth-wrap, .phone-wrap, .email-wrap {
  padding: 5px 5px 5px 30px;
}

.id-input, .password-input, .check-password-input, .name-input, .email-input {
  margin-right: 8px;
  width: 198px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  height: 28px;
  background-color: #f8f8f8;
  color: #333;
  text-indent: 14px;
  vertical-align: middle;
}

.year-input, .phone-input {
  width: 67px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  height: 28px;
  background-color: #f8f8f8;
  color: #333;
  text-indent: 14px;
  vertical-align: middle;
}

.month-input, .day-input {
  width: 44px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  height: 28px;
  background-color: #f8f8f8;
  color: #333;
  text-indent: 14px;
  vertical-align: middle;
}

.alert, .email-alert, .birth-alert, .phone-alert {
  font-size: 0.8rem;
  color: orangered;
}

em.alert {
  margin-left: 111px;
}

em.email-alert {
  margin-left: 17px;
}

em.birth-alert {
  margin-left: 95px;
}

em.phone-alert {
  margin-left: 90px;
}

button.double-check {
  width: 94px;
  height: 28px;
  border: none;
  outline: none;
  font-size: 0.8rem;
  background-color: #f1f1f1;
  vertical-align: middle;
  letter-spacing: 0.03em;
}

div.wrap-submit {
  width: 970px;
  margin: 40px auto;
  text-align: center;
}

.cancel-btn, .confirm-btn {
  display: inline-block;
  width: 123px;
  height: 45px;
  font-size: 1rem;
  border: none;
  outline: none;
}

button.cancel-btn {
  margin-right: 15px;
  background-color: #fff;
  border: 1.2px solid #351F66;
  color: #351F66;
  font-weight: 700; 
}

button.confirm-btn {
  background-color: #351F66;
  color: #fff;
  font-weight: 700; 
}

i.fa-check {
  color: blueviolet;
}

// 메일 추천
ul.mail-recommendation {
  position: absolute;
  border-radius: 3px;
  line-height: 30px;
  text-indent: 10px;
  background-color: #fff;
  border: 1px solid #333;
  width: 198px;
  overflow: hidden;
}

ul.mail-recommendation li {
  letter-spacing: .1px;
}

ul.mail-recommendation li:hover {
  background-color: hsl(200, 40%, 80%);
}

// 선호 영화관
.prefer-theater-wrap {
  width: 512px;
  padding: 17px 0 17px 30px;
}

.prefer-theater-wrap > p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.order-line {
  display: flex;
}

.line {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.rank {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 45px;
}

.prefer-theater {
  background-color: #f8f8f8;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 16px 16px 16px 25px;
  width: 160px;
  height: 160px;
}

.prefer-theater-wrap span {
  font-size: 12px;
  color: #666;
  text-align: left;
}

.prefer-theater-wrap li select {
  height: 24px;
  margin-right: 8px;
}

.region-choice {
  width: 154px;
}

.theater-choice {
  width: 121px;
}