<footer class="footer-container">
  <div class="search-theater">
    <div class="search-title">메가박스 영화관 찾기</div>
    <div class="search-area">
      <dl>
        <dt>서울</dt>
        <dd>강남</dd>
        <dd>강남대로(씨티)</dd>
        <dd>강동</dd>
        <dd>군자</dd>
        <dd>동대문</dd>
        <dd>마곡</dd>
        <dd>목동</dd>
        <dd>상봉</dd>
        <dd>상암월드컵경기장</dd>
        <dd>센트럴</dd>
        <dd>송파파크하비오</dd>
        <dd>신촌</dd>
        <dd>은평</dd>
        <dd>이수</dd>
        <dd>창동</dd>
        <dd>코엑스</dd>
        <dd>화곡</dd>
        <dd>ARTNINE</dd>
      </dl>
      <dl>
        <dt>경기</dt>
        <dd>고양스타필드</dd>
        <dd>김포한강신도시</dd>
        <dd>남양주</dd>
        <dd>동탄</dd>
        <dd>미사강변</dd>
        <dd>백석</dd>
        <dd>별내</dd>
        <dd>분당</dd>
        <dd>수원</dd>
        <dd>수원남문</dd>
        <dd>시흥배곧</dd>
        <dd>안산중앙</dd>
        <dd>양주</dd>
        <dd>영통</dd>
        <dd>오산</dd>
        <dd>용인테크노밸리</dd>
        <dd>의정부 민락</dd>
        <dd>일산</dd>
        <dd>일산벨라시타</dd>
        <dd>킨텍스</dd>
        <dd>파주금촌</dd>
        <dd>파주운정</dd>
        <dd>파주출판도시</dd>
        <dd>평택</dd>
        <dd>하남스타필드</dd>
      </dl>
      <dl>
        <dt>인천</dt>
        <dd>검단</dd>
        <dd>송도</dd>
        <dd>영종</dd>
        <dd>인천논현</dd>
        <dd>청라</dd>
        <dd>청라지젤</dd>
      </dl>
      <dl>
        <dt>대전 | 세종 | 충청</dt>
        <dd>공주</dd>
        <dd>대전</dd>
        <dd>대전중앙로</dd>
        <dd>세종</dd>
        <dd>오창</dd>
        <dd>제천</dd>
        <dd>진천</dd>
        <dd>천안</dd>
        <dd>청주충북대</dd>
        <dd>충주</dd>
        <dd>홍성내포</dd>
      </dl>
      <dl>
        <dt>부산 | 경상</dt>
        <dd>거창</dd>
        <dd>경산하양</dd>
        <dd>경주</dd>
        <dd>구미강동</dd>
        <dd>김천</dd>
        <dd>남포항</dd>
        <dd>대구(칠성로)</dd>
        <dd>대구 신세계</dd>
        <dd>대구 이시아</dd>
        <dd>덕천</dd>
        <dd>마산</dd>
        <dd>문경</dd>
        <dd>부산극장</dd>
        <dd>부산대</dd>
        <dd>북대구(칠곡)</dd>
        <dd>사천</dd>
        <dd>삼천포</dd>
        <dd>양산</dd>
        <dd>양산라피에스타</dd>
        <dd>울산</dd>
        <dd>정관</dd>
        <dd>창원</dd>
        <dd>해운대(장산)</dd>
      </dl>
      <dl>
        <dt>광주 | 전라</dt>
        <dd>광주상무</dd>
        <dd>광주하남</dd>
        <dd>남원</dd>
        <dd>목포</dd>
        <dd>목포하당(포르모)</dd>
        <dd>송천</dd>
        <dd>순천</dd>
        <dd>여수</dd>
        <dd>여수웅천</dd>
        <dd>전대(광주)</dd>
        <dd>전주(객사)</dd>
        <dd>첨단(광주)</dd>
      </dl>
      <dl>
        <dt>강원</dt>
        <dd>남춘천</dd>
        <dd>속초</dd>
        <dd>원주</dd>
        <dd>원주센트럴</dd>
      </dl>
      <dl>
        <dt>제주</dt>
        <dd>제주</dd>
      </dl>
    </div>
  </div>
  <div class="about-container">
    <div class="about-info">
      <div class="about-logo">
        <a href="/"><img src="http://image2.megabox.co.kr/mop/home/logo_footer_new.png" alt="MEGABOX"></a>
      </div>
      <ul class="about-company">
        <li>회사소개</li>
        <li>채용정보</li>
        <li>제휴/광고/부대사업 문의</li>
        <li>이용약관</li>
        <li>개인정보 처리방침</li>
        <li>고객센터</li>
        <li>윤리경영</li>
      </ul>
      <address>
        <div class="address-container">
          <p>서울특별시 강남구 도산대로 156, 2층 메가박스중앙(주) (논현동, 중앙엠앤비사옥)</p>
          <p>대표자명 김진선 | 개인정보보호 책임자 경영지원실 실장 박영진</p>
          <p>사업자등록번호 211-86-59478 | 통신판매업신고번호 제 833호</p>
        </div>
        <p class="copyright">Copyright 2014 by MegaboxJoongAng, Inc. All rights reserved</p>
      </address>
      <div class="about-ars"></div>
    </div>
  </div>
</footer>
