.footer-container {
  background-color: #333;
  margin-top: 90px;

  .search-theater {
    width: 960px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: white;
    padding: 40px 0;

    .search-title {
      font-weight: 700;
      margin-bottom: 20px;
      font-size: .9rem;
    }
  }
  
  dl {
    position: relative;
    padding: 0 0 15px 150px;

    & dt {
      position: absolute;
      left: 0;
      font-size: .9rem;
    }

    & dd {
      display: inline-block;
      padding-left: 10px;
      line-height: 18px;
      color: white;
      opacity: .7;
      font-size: .8rem;
    }
  }

  .about-container {
    background-color: #221f1f;

    .about-info {
      width: 960px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      color: white;
      padding: 30px 0 40px 0;

      .about-logo {
        margin-bottom: 17px;
      }

      .about-company {
        display: flex;
        margin-bottom: 15px;

        li {
          margin-right: 5px;
          font-size: .8rem;
          color: #999;
        }
        
        & li:nth-child(5) {
          color: #59BEC9;
        }
        
        & li:nth-last-child(n+2)::after {
          padding: 0 5px;
          content: ' | ';
          font-weight: 300;
          color: #999
        }

      }

      address {
        font-size: .7rem;
        color: #999;
        line-height: 18px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      .about-ars {
        background: url('http://image2.megabox.co.kr/mop/home/footer_etc3_161221.png');
        width: 268px;
        height: 104px;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 30px;
      }
    }
  }
}
