<footer class="footer-container">
  <div class="search-theater">
    <div class="search-title">메가박스 영화관 찾기</div>
    <div class="search-body-container">
      <div class="search-area">
        <p>서울</p>
        <p>경기</p>
        <p>인천</p>
        <p>대전 | 세종 | 충청</p>
        <p>부산 | 경상</p>
        <p>광주 | 전라</p>
        <p>강원</p>
        <p>제주</p>
      </div>
      <div class="search-branch">
        <p>
          <span>강남</span>
          <span>강남대로(씨티)</span>
          <span>강동</span>
          <span>군자</span>
          <span>동대문</span>
          <span>마곡</span>
          <span>목동</span>
          <span>상봉</span>
          <span>상암월드컵경기장</span>
          <span>센트럴</span>
          <span>송파파크하비오</span>
          <span>신촌</span>
          <span>은평</span>
          <span>이수</span>
          <span>창동</span>
          <span>코엑스</span>
          <span>화곡</span>
          <span>ARTNINE</span>
        </p>
        <p>
          <span>고양스타필드</span>
          <span>김포한강신도시</span>
          <span>남양주</span>
          <span>동탄</span>
          <span>미사강변</span>
          <span>백석</span>
          <span>별내</span>
          <span>분당</span>
          <span>수원</span>
          <span>수원남문</span>
          <span>시흥배곧</span>
          <span>안산중앙</span>
          <span>양주</span>
          <span>영통</span>
          <span>오산</span>
          <span>용인테크노밸리</span>
          <span>의정부 민락</span>
          <span>일산</span>
          <span>일산벨라시타</span>
          <span>킨텍스</span>
          <span>파주금촌</span>
          <span>파주운정</span>
          <span>파주출판도시</span>
          <span>평택</span>
          <span>하남스타필드</span>
        </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="about-info">메박 정보</div>
  </div>
</footer>
