<div class="seat-modal fade in">
  <div class="seat-modal-wrapper">
    <div class="seat-modal-contents">
      <div class=seat-modal-header>
        <h3>
          <a class="all-seat">인원/좌석 선택</a>
        </h3>
      </div>
    <div class="left-wrap">
      <div class="util">
        <label for="normal" name="normal">일반</label>
        <select id="normal" (change)="seatService.normal = +normal.value" #normal>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <label for="youth" name="youth">청소년</label>
        <select id="youth" (change)="seatService.youth = +youth.value" #youth>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <label for="favor" name="favor">우대</label>
        <select id="favor" (change)="seatService.favor = +favor.value" #favor>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>

        <span class="limit">인원선택은 최대 8명까지 가능합니다.</span>
      </div>
      <div class="seat-wrapper">
        <div class="seat">
          <p class="screen">SCREEN</p>
          <!-- <app-seat-one-hundred-thirty></app-seat-one-hundred-thirty> -->
          <app-seat-one-hundred-forty></app-seat-one-hundred-forty>
          <!-- 이 부분의 좌석을 만들면 됨. -->
        </div>
        <div class="seat-info">
          <p>좌석 선택</p>
          <ul class="seat-detail">
            <li>
              <span class="seat-selected"></span>선택좌석
            </li>
            <li>
              <span class="seat-done"></span>예매완료
            </li>
            <li>
              <span class="seat-cant"></span>선택불가
            </li>
            <li>
              <span class="seat-normal"></span>일반석
            </li>
            <li>
              <span class="seat-wheel"></span>장애인/훨체어석
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom-info">
        <div class="reset">
          <button class="reset-button">다시선택</button>
        <div class="personnel">
          <span>좌석 선택 인원</span>
          <span>
            <span>2</span>
            /
            <span>2</span>
          </span>
        </div>
        </div>
      </div>
    </div>
      <div class="selected-movie">
        <div class="seat-btns-wrapper">
          <button type="button" class="booking-btn booking-prev">이전</button>
              <button type="button" class="booking-btn booking-next">다음</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
