<!-- <div class="carousel">
  <div class="carousel-sentence">
    <span>
      <strong>라이온 킹
        <em>The Lion king</em>
      </strong>
      <p>새로운 세상 너의 시대가 올 것이다!</p>
    </span>
  </div>
</div> -->

<carousel>
  <slide>
    <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/78/E14336-3C18-42E1-9E96-19F779E1A6A3.jpg"
     alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <strong>사자
        <em>The Divine Fury</em>
      </strong>
      <p>악의 편에 설 것인가, 악에 맞설 것인가</p>
    </div>
  </slide>
  <slide>
    <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/57/79C164-CBF6-446A-B9F9-2AB4ADAE6B74.jpg"
     alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <strong>라이온 킹
            <em>The Lion king</em>
          </strong>
          <p>새로운 세상 너의 시대가 올 것이다!</p>
    </div>
  </slide>
  <slide>
    <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/7B/3558CC-2F4E-4CAF-8FCE-1064E18ADF71.jpg"
     alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <strong>엑시트
            <em>EXIT</em>
          </strong>
          <p>입소문 폭발! 유쾌한 재난탈출액션</p>
    </div>
  </slide>
</carousel>