$main-color: #503396;
$sub-color: #188591;
$main-hover: #351F66;

$active: 'http://image2.megabox.co.kr/mop/home/main/pn3_on.png';
$inactive: 'http://image2.megabox.co.kr/mop/home/main/pn3.png';
$auto-stop: 'http://image2.megabox.co.kr/mop/home/main/slide_auto.png';
$auto-play: 'http://image2.megabox.co.kr/mop/home/main/slide_auto_play.png';
$arrow: 'http://image2.megabox.co.kr/mop/home/main/arrow.png';

.carousel {
  background: silver;
  width: 100%;
  height: 600px;
}