<div class="movie-modal">
  <div class="modal-container">
    <div class="modal-close" (click)="closeDetail(rankmovie)"></div>
    <div class="modal-body">
      <div class="modal-main-content" *ngFor="let rankmovie of this.rankService.selectMovie">
        <img class="modal-main-poster" src="{{rankmovie['img_url']}}" alt="{{rankmovie.title}}">
        <div class="modal-main-info">
          <div class="modal-headline">
            <span class="modal-age-{{rankmovie.age}}"></span>
            <p class="modal-title">{{rankmovie.title}}</p>
            <p class="title-english">{{rankmovie.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
