<div class="navi-container">

  <div class= "mypage-header">
    <div class= "myheader-box">
      <a [routerLink]="['/mypage']" class="mymegabox-link">나의 메가박스</a>
    </div>
  </div>

  <div class= "mypage-cupons">
    <button>고객 만족도조사 발급쿠폰</button>
    <button>SKT T 데이터쿠폰 확인</button>
  </div>

  <ul class="mypage-menu">
      <li id= "my-membership">
        <!-- <a>멤버십정보</a> -->
      </li>
      <li id = "point-change">
        <!-- <a>포인트교환</a> -->
      </li>
      <li [routerLink]="['/booking']">
        <!-- <a>예매확인/취소</a> -->
      </li>
      <li>
        <!-- <a>스토어 구매내역</a> -->
      </li>
      <li [routerLink]="['/my-movie-story']">
        <!-- <a>나의무비스토리</a> -->
      </li>
      <li>
        <!-- <a>관람권/VIP쿠폰</a> -->
      </li>
      <li [routerLink]="['/info-modify']">
        <!-- <a>개인정보 수정</a> -->
      </li>
      <li id="my-faq">
        <!-- <a>나의문의내역</a> -->
      </li>
    </ul>

  </div>
