.movie-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(210, 210, 210, 0.6);
}

.movie-modal-wrapper {
  width: 970px;
  margin: 0 auto;
  padding: 90px 0 30px 0;
  z-index: 1080;
}

.movie-modal-contents {
  position: relative;
  min-height: 554px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
}

.movie-modal-contents {
  box-shadow: 0 6px 10px rgba(0,0,0,0.5);
}

.movie-modal-header {
  overflow: hidden;
  padding: 13px 20px 12px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}

.all-movie {
  font-size: 24px;
  color:  #503396;
  text-decoration: none;
  font-weight: 700;
}

.util {
  height: 42px;
  padding: 9px 19px 0 19px;
}

.selected {
  float: left;
  overflow: hidden;
}

.all-btn {
  width: 30px;
  height: 25px;
  float: left;
  background-position: -240px -80px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-right: 10px;
  outline: 0;
  background-color: #fff;
  color: #503396;
}

.selected-movie {
  display: block;
  float: left;
  padding: 3px 10px;
  margin-right: 10px;
  border: 1px solid #ededed;
  border-radius: 2px;
  background-color: #fff;
  font-size: 12px;
}

.selected-movie:hover {
  background-color: #ededed;
}

.deleted-moive {
  font-size: 10px;
  padding: 1px 1px  1px 5px;
  font-weight: 900;
  outline: none;
}

.movie-sort {
  float: right;
  overflow: hidden;
  padding-right: 8px;
  margin: 0;
  list-style: none;
}

.movie-sort > li {
  float: left;
  padding: 7px 0 6px 0;
  border-left: none;
  line-height: auto;
  margin: 0;
}

.movie-sort > li > a {
  display: block;
  padding: 0 14px;
  border-right: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
  background: transparent;
  cursor: pointer;
}

.movie-sort > li :last-child {
  padding-right: 0;
  border: none;
}

// 영화 리스트
.movie-list-wrapper {
  position: relative;
  padding-left: 18px;
  overflow: auto;
  width: 966px;
  left: 1px;
  height: 454px;
}

.movie-list {
  overflow: hidden;
  margin-right: -18px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.moivie-list-li {
  position: relative;
  float: left;
  width: 131px;
  height: 227px;
  cursor: pointer;
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 1px;
}

.moivie-list-li > a {
  background: transparent;
}

.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  left: -1000em;
}

.poster {
  height: 188px;
  cursor: pointer;
  list-style: none;
  border: none;
}

.movie-poster-img {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 0;
}

.movie-title {
  height: 39px;
  font-size: 12px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 7px;
  border-left: 1px solid #e5e5e5;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.movie-age {
  background: url(http://image2.megabox.co.kr/mop/home/bg_age2.png) 0 -999px no-repeat;
  display: inline-block;
  width: 17px;
  height: 18px;
  margin-right: 4px;
  text-indent: -99999px;
  overflow: hidden;
  vertical-align: middle;
}

.age-all {
  background-position: 0 0;
}

.age-12 {
  background-position: -60px 0;
}

.age-15 {
  background-position: -90px 0;
}

.age-19 {
  background-position: -30px 0;
}

.movie-btns-wrapper {
  position: absolute;
  top: 10px;
  right: 13px;
}

.booking-btn {
  width: 68px;
  height: 30px;
  float: left;
  margin-left: 10px;
  outline: 0;
  border: 1px solid #b1b0b0;
}

.booking-cancel {
  background-color: #ecebeb;
}

.booking-cancel:hover {
  background-color: #E1E1E1;
}

.booking-confirm {
  color: #fff;
  background-color: #503396;
}

.booking-confirm:hover {
  background-color: #351F66;
}

.active {
  color:#198591 !important;
  font-weight: bold !important;
}

.select-active p {
  color: #fff;
  background-color: #198591;
}