<div class="carousel" #carousel >
  <div class="carousel-item-container">
    <div class="carousel-item" >
      <a href="#">
        <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/BA/A1EC41-0420-4AFB-83B1-994B25ADD6EF.jpg" [style.width.px]="width">
      </a>
    </div>
    <div class="carousel-item" #item>
      <a href="#">
        <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/47/0AB284-45DA-48CD-9BF1-7DF852479D23.jpg">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="http://image2.megabox.co.kr//mop/frontbanner/2019/67/B71069-B9B0-4DA3-9639-AB85FDFD6693.jpg">
      </a>
    </div>
  </div>
  <button class="carousel-control prev">&laquo;</button>
  <button class="carousel-control next">&raquo;</button>
</div>
{{width}}