.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(0,0,0,0.8);
}

.wrapper {
  position: relative;
  width: 653px;
  min-width: 653px;
  margin: 220px auto;
  background-color: #fff;
  zoom: 1;
  border-radius: 5px;
}

.prefer-theater-wrap {
  width: 512px;
  margin: 0 auto;
  border: 6px solid #f2f2f2;
  padding: 17px 0;
  text-align: center;
}

.order-line {
  display: flex;
  justify-content: center;
}

.line {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.rank {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 45px;
}

.prefer-theater-wrap span {
  font-size: 12px;
  color: #666;
  text-align: left;
}

.prefer-theater-wrap li select {
  height: 24px;
  margin-right: 8px;
}

.region-choice {
  width: 154px;
}

.theater-choice {
  width: 121px;
}

.delete-prefer {
  font-size: 12px;
  color: #503396;
  cursor: pointer;
}

p em.puple {
  color: #503396;
  font-weight: 700;
}

.alert-header {
  position: relative;
  padding-top: 12px;
  height: 42px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.alert-header > h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.alert-body {
  padding: 30px 20px 15px;
  text-align: center;
  font-size: 13px;
  line-height: 26px;
}

.alert-body > p {
  padding: 0;
  margin: 0;
}

.alert-footer {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.alert-confirm {
  margin: 0 5px;
  display: inline-block;
  width: 68px;
  height: 30px;
  background-color: #503396;
}

.alert-cancel {
  margin: 0 5px;
  display: inline-block;
  width: 68px;
  height: 30px;
  color:#333;
  border: 1px solid #333;
  background-color: #fff;
}

.fa-times {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}