<app-mypage-navi></app-mypage-navi>
<router-outlet></router-outlet>

<div class= "mypage-mymoviestory">
    <div>
      <h3>
        나의무비스토리
      </h3>
    </div>

    <ul class= "mymoviestory-tab">
      <li (click)="tabActive(button1.textContent)" #button1 [ngClass]="{tabActive: mymovieTab == '보고싶어'}"><a>보고싶어</a></li>
      <li (click)="tabActive(button2.textContent)" #button2 [ngClass]="{tabActive: mymovieTab == '본영화'}"><a>본영화</a></li>
      <div class= "nav-line"></div>
    </ul>


    <div class="tab-contents movie-interesting" [ngClass]="{active: mymovieTab == '보고싶어'}">
      <ul class= "interested-tab">
        <li class="tab-word">최신순</li>
        <li class="tab-bar">|</li>
        <li class="tab-word">인기순</li>
        <li class="tab-bar">|</li>
        <li class="tab-word">평점순</li>
        <li class="tab-bar">|</li>
        <li class="tab-word">가나다순</li>
      </ul>

      <div class= "interested-content" >
        <ul class="interested-image">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class= " tab-contents watched-content" [ngClass]="{active: mymovieTab == '본영화'}">
      <p class="sb01">* 본 영화 리스트는 실제 관람한 이력으로 보여지며, 상영일 익일에 자동 노출됩니다.</p>
      <p class="sb01">* 영화관에서 발권하신 티켓 바코드 하단의 거래번호를 통해 본 영화 등록을 하실 수 있습니다.</p>
      <p class="sb01">* 유료 관람 영화 편수는 <a [routerLink]="['/mypage']">‘나의 메가박스’</a>에서 확인 하실 수 있습니다.</p>
      <button class="watched-button">본 영화 등록</button>

      <span class="border-line"></span>
      <ul class="movie-seen">
        <li><p>본 영화가 없습니다.</p></li>
      </ul>
    </div>




