<div class="quick-booking">
  <div class="bg"></div>
  <div class="main-container">
    <div class="left-tab">
      <div class="date box-padding">
        <div class="title">
          <span>날짜</span>
        </div>
      </div>
      <div class="theater box-padding">
        <div class="title">
          <span>극장</span>
        </div>
        <div class="place">
          <button><img src="http://image2.megabox.co.kr/mop/home/btns/btn_add.png" alt="플러스"></button>
          <button><img src="http://image2.megabox.co.kr/mop/home/btns/btn_add.png" alt="플러스"></button>
          <button><img src="http://image2.megabox.co.kr/mop/home/btns/btn_add.png" alt="플러스"></button>
          <button><img src="http://image2.megabox.co.kr/mop/home/btns/btn_add.png" alt="플러스"></button>
        </div>
      </div>
      <div class="movie box-padding">
        <div class="title">
          <span>영화</span>
        </div>
        <div class="movie-select">
          <div class="all-movie">
            <p>모든 영화</p>
          </div>
          <button class="select-movie">
            <span>영화 선택</span>
          </button>
        </div>
      </div>
    </div>
    <div class="right-tab">
      <div class="time box-padding">
        <div class="title">
          <span>시간</span>
        </div>
      </div>
      <div class="advertising"></div>
    </div>
    <div class="advertisement"></div>
  </div>
</div>