.ghost {
  height: 49px;
}

.top {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #c6c6c6;
  min-width: 970px;
  z-index: 99;
}

.bg {
  position: relative;
  width: 970px;
  margin: 0 auto;
  background: #fff;
}

.img-wrapper {
  display: inline-block;
  margin-top: 10px;
  width: 235px;
  height: 27px;
  cursor: pointer;
  background: url('http://image2.megabox.co.kr//mop/home/logo_slogan.png') no-repeat;
}

.hidden {
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
}

.nav-list {
  display: flex;
  float: right;
  line-height: 50px;
  border-left: 1px solid #c6c6c6;
  font-weight: 700;
}

.nav-list > li {
  border-right: 1px solid #c6c6c6;
  width: 82px;
  text-align: center;
  cursor: pointer;
  color: #50504e
}

#quick-booking {
  width: 164px;
  background-color: #503396;
  color: #fff;
}

#quick-booking img{
  margin-left: 10px;
  margin-bottom: -2px;
  width: 15px;
  height: 15px;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #50504e;
}

app-login-modal {
  position: absolute;
  top: 50px;
  right: 0;
}

app-success {
  position: absolute;
  top: 50px;
  right: 0;
}

