.ghost {
  height: 49px;
}

.hidden {
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
}

.top {
  width: 970px;
  height: 50px;
  margin: 0 auto;
  position: relative;

  .bg {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-list {
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    height: 50px;

    li {
      width: 82px;
      text-align: center;
      color: #50504e;
      padding: 17px;
      cursor: pointer;
      border-left: 1px solid #c6c6c6;
      font-weight: 900;


      .img-wrapper {
        margin-top: 10px;
        width: 235px;
        height: 27px;
        background: url('http://image2.megabox.co.kr//mop/home/logo_slogan.png') no-repeat;
      }

    }
    
    .login {
      border-right: 1px solid #c6c6c6;
    }
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      padding: 3px;
      border: unset;
    }

    #quick-booking {
      width: 164px;
      background-color: #503396;
      color: #fff;
    }

    #quick-booking img{
      margin-left: 10px;
      margin-bottom: -2px;
      width: 15px;
      height: 15px;
    }

    a, a:link, a:visited, a:active {
      text-decoration: none;
      color: #50504e;
    }
  }

  .success-modal {
    display: flex;
    padding: 5px;
    width: 160px!important;
    font-size: 0.8rem;
    border-right: 1px solid #c6c6c6;
    padding: 8px!important;
    position: relative;

    .membership {
      position: absolute;
      left: 30px;
      bottom: 6px;
      width: 30px;
      height: 15px;
    }

    .profile-img {
      width: 37px;
      height: 37px;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-self: flex-end;
      text-align: left;
      margin-left: 20px;
      font-weight: unset!important;
      
      span {
        margin-bottom: 5px;
      }

      .booking {
        cursor: pointer;
        color: #198591;
      }

      .booking:hover {
        text-decoration-line: underline;
      }

      .fa {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
  app-login-modal {
    position: absolute;
    top: 50px;
    right: 0;
  }
  
  app-success {
    position: absolute;
    top: 50px;
    right: 0;
  }
}


