.mypage-booking {
  width: 970px;
  margin: 0 auto;
}

.booking-title {
  display: flex;
  margin-top: 50px;
}

.booking-title h3 {
  // background: blue;
  text-align: center;
  width: 130px;
  height: 40px;
  font-size: 19px;
  color: #333333;
  font-weight: 700;
  font-family: '나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}

.booking-title span {
  color: #333;
  font-size: 11px;
  height: 30px;
  text-align: center;
  margin-top: 6px;
  // background: yellow;
  margin-left: 15px;
}

// 나비게이션
.booking-nav {
  display: inline-block;
  margin: 20px 0 20px 0;
  width: 100%;
  // border-bottom: 1px solid #D3D2D2;
}

.booking-nav li {
  display: inline-block;
  box-shadow:
  1px 0 0 0 #D3D2D2,
  0 1px 0 0 #D3D2D2,
  1px 1px 0 0 #D3D2D2,
  1px 0 0 0 #D3D2D2 inset,
  0 1px 0 0 #D3D2D2 inset;
  background: #f9f9f9;
  // background: blue;
  width: 114px;
  height: 35px;
  text-align: center;
  // margin-top: 10px;
}

.nav-line {
  display: block;
  float: right;
  background: #D3D2D2;
  width: 64.75%;
  height: 1px;
}

.booking-nav li a {
  // background: coral;
  display: block;
  margin-top: 8px;
  color: #666666;
  font-weight: 700;
  font-size: 14px;
}

.booking-nav .tabactive {
  box-shadow:
  0 0 0 0 #D3D2D2,
  0 0 0 0 #D3D2D2,
  1px 0 0 0 #D3D2D2,
  1px 0 0 0 #D3D2D2 inset,
  0 1px 0 0 #D3D2D2 inset;
  background: white;
}


// 탭메뉴
.tab-menu {
  display: flex;
}

.tab-menu li a {
  display: block;
  margin-top: 10px;
  color: #666666;
  font-weight: 600;
  font-size: 13px;
  // background: skyblue;
}

.tab-menu li {
  height: 40px;
  text-align: center;
  border-top: 2px solid #503396;
  background: #f2f2f2;
  border-bottom: 1px solid #D3D2D2;
}

.tab-no {
  width: 80px;
}

.tab-bookNum {
  width: 139.56px;
}

.tab-movieName {
  width: 352px;

}

.name-text {
  // background: red;
  margin-bottom: 30px;
}

.tab-screen {
  width: 99.56px;
}

.tab-screenDate {
  width: 109.33px;
  display: flex;
  flex-direction: column;
}

.tab-bookedDate {
  padding-top: 1px;
  width: 80px;
  font-size: 10px;
}

.tab-cancel {
  width: 109.33px;
  padding-bottom: 5px;
}

.tab-contents {
  display: none;
  border-bottom: 1.5px solid #D3D2D2;
}

.tab-contents img {
  margin-top: 10px;
}

.tab-contents ul {
  display: flex;
  text-align: center;
  word-break: break-all;
  height: 100px;
  font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
  font-size: 12px;
  color: #333333;
}

.content-align {
  // background: blue;
  margin-top: 42px;
}

.content-align2 {
  // background: blue;
  margin-top: 20px;
  float: left;
  margin-left: 80px;

}

.active {
  display: block;
}

.cancel-btn {
  width: 50px;
  height: 22px;
  border: 1px solid #666666;
  font-weight: 700;
}


.scroll {
  width: 100%;
  height: 300px;
}

.poster {
  width: 24px;
  height: 35px;
  margin-right: 20px;
}
