<table>
　<thead>
    <th class="table-head">
      <i class="fa fa-chevron-left" (click)="prev()"></i>
    </th>
    <th colspan="5" class="table-head">
      <caption>{{quickBookingService.month+1}}월 {{quickBookingService.year}}</caption>
    </th>
    <th class="table-head">
      <i class="fa fa-chevron-right" (click)="next()"></i>
    </th>
  </thead>
　<tbody>
    <tr class="dates">
  　　<th>일</th>
　　　<th>월</th>
　　　<th>화</th>
　　　<th>수</th>
　　　<th>목</th>
　　　<th>금</th>
　　　<th>토</th>
    </tr>
    <tr *ngFor="let week of quickBookingService.weeks">
      <td *ngFor="let item of week" class="button-margin">
        <button [class.active]="quickBookingService.activeToday === item.fullDay"
        (click)="activeToday(item.fullDay)">{{item.day}}</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="7" class="fotter">
        <span>
          선택한 날짜
        </span>
        <span>
          선택 가능일
        </span>
      </th>
    </tr>
  </tfoot>
</table>