<table>
　<thead>
    <th class="table-head">
      <i class="fa fa-chevron-left" (click)="calendarService.decreaseMonth()"></i>
    </th>
    <th colspan="5" class="table-head">
      <caption>{{calendarService.month+1}}월 {{calendarService.year}}</caption>
    </th>
    <th class="table-head">
      <i class="fa fa-chevron-right" (click)="calendarService.increaseMonth()"></i>
    </th>
  </thead>
　<tbody>
    <tr class="dates">
  　　<th>일</th>
　　　<th>월</th>
　　　<th>화</th>
　　　<th>수</th>
　　　<th>목</th>
　　　<th>금</th>
　　　<th>토</th>
    </tr>
    <tr *ngFor="let week of calendarService.splitThisDays">
      <td *ngFor="let item of week" class="button-margin">
        <button [class.active]="calendarService.activeToday === item.fullDate" #dayTable
        (click)="activeToday(item.fullDate); calendarService.checkDayActive(item.fullDate);
        quickBookingService.postDate = item.postDate"
        [class.disable]="checkBeforeToday(item.fullDate)"
        [disabled]="checkBeforeToday(item.fullDate)">{{item.day}}</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="7" class="fotter">
        <span class="selected-date">
          선택한 날짜
        </span>
        <span class="posible-date">
          선택 가능일
        </span>
      </th>
    </tr>
  </tfoot>
</table>