<div class="quick-booking">
  <div class="bg"></div>
  <div class="wrapper">
    <div class="main-container">
      <div class="left-tab">
        <div class="date box-padding">
          <div class="title">
            <h2>날짜</h2>
            <button class="hidden-text" 
            (click)="quickBookingService.calendarModalState = !quickBookingService.calendarModalState;
            calenderService.afterToday = afterToday">달력버튼</button>
            <app-calendar *ngIf="quickBookingService.calendarModalState"></app-calendar>
          </div>
          <div class="carousel-table" (click)="dayCarouselButton($event.target.parentNode)">
            <button class="prev-day">
              <i class="fas fa-caret-left"></i>
            </button>
            <div class="carousel-table-list">
              <ul class="day-carousel" 
              [ngStyle]="{'transform': 'translateX(' + calenderService.dayTableX + 'px)'}">
                <li *ngFor="let item of afterToday">
                  <button class="day-button" 
                    *ngIf="calenderService.today !== item.fullDate; else elemToday" 
                    (click)="checkDayActive(item.fullDate, ulDay)"
                    [class.active]="item.fullDate === calenderService.activeToday">{{item.day}}({{item.date}})</button>
                  <ng-template #elemToday>
                    <button class="day-button" 
                    (click)="checkDayActive(item.fullDate)"
                    [class.active]="item.fullDate === calenderService.activeToday">오늘</button>
                  </ng-template>
                </li>
              </ul>
            </div>
            <button class="next-day">
              <i class="fas fa-caret-right"></i>
            </button>
          </div>
        </div>
        <div class="theater box-padding">
          <div class="title">
            <h2>극장</h2>
            <button class="reload">
              <span class="hidden-text">새로고침</span>
            </button>
          </div>
          <div class="place">
            <button class="add-movie" (click)="quickBookingService.theaterModalState = true">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
            <button class="add-movie" (click)="quickBookingService.theaterModalState = true">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
            <button class="add-movie" (click)="quickBookingService.theaterModalState = true">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
            <button class="add-movie" (click)="quickBookingService.theaterModalState = true">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
          </div>
        </div>
        <div class="movie box-padding">
          <div class="title">
            <h2>영화</h2>
            <div class="button-container">
              <button class="select-all-movie">
                <span class="hidden-text">선택 영화 전체 지우기</span>
              </button>
              <button class="reload">
                <span class="hidden-text">새로고침</span>
              </button>
            </div>
          </div>
          <div class="movie-select">
            <div *ngIf="!quickBookingService.selectedMovies; else choice">
              <div class="all-movie">
                <p>모든 영화</p>
              </div>
              <button class="select-movie" (click)="quickBookingService.movieModalState = true">
                <span>영화 선택</span>
              </button>
            </div>
            <ng-template #choice>
              <ul class="poster-list">
                <li class="poster" *ngFor="let movie of quickBookingService.selectMovie">
                  <button class="cancel hidden-text"
                  (click)="removeMovie(movie)">취소</button>
                  <img [src]="movie.img_url" [alt]="movie.title">
                </li>
                <li class="plus-movie" *ngFor="let plus of quickBookingService.addPlus">
                  <button (click)="quickBookingService.movieModalState = true">
                    <span class="hidden-text">영화추가</span>
                  </button>
                </li>
              </ul>
              <div class="select-kinds">
                <ul>
                  <li>
                    <input type="checkbox" name="" id="movie-type-all">
                    <label for="movie-type-all">전체</label>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="movie-type-2d">
                    <label for="movie-type-all-2d">2D</label>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="movie-type-3d">
                    <label for="movie-type-3d">3D</label>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="movie-type-dubbing">
                    <label for="movie-type-dubbing">더빙</label>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="movie-type-caption">
                    <label for="movie-type-caption">자막</label>
                  </li>
                  <li>
                    <input type="checkbox" name="" id="movie-type-atmos">
                    <label for="movie-type-atmos">ATMOS</label>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="right-tab">
        <div class="time box-padding">
          <div class="title">
            <h2>시간</h2>
          </div>
          <div class="carousel-table" (click)="timeCarouselButton($event.target.parentNode)">
            <button class="prev-time" >
              <i class="fas fa-caret-left"></i>
            </button>
            <div class="carousel-table-list">
              <ul class="time-carousel"
              [ngStyle]="{'transform': 'translateX(' + timeTableX + 'px)'}">
                <li *ngFor="let item of timeTable">
                  <button class="time-button" [class.active]="checkTimeActive(item)">{{item}}</button>
                </li>
              </ul>
            </div>
            <button class="next-time">
              <i class="fas fa-caret-right"></i>
            </button>
          </div>
        </div>
        <div class="time-list">
          <div class="empty-list"></div>
        </div>
      </div>
      <div class="advertisement"></div>
    </div>
    <button class="close" (click)="rootService.quickBookingModalState = false">
      <span>닫기</span>
    </button>
  </div>
</div>
<app-movie-modal *ngIf="quickBookingService.movieModalState"></app-movie-modal>
<app-theater-modal *ngIf="quickBookingService.theaterModalState"></app-theater-modal>
