$sprite: 'http://image2.megabox.co.kr/mop/home/btns/btn_booking.png';

.quick-booking {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  
  .wrapper {
    position: relative;
   
    .close {
      position: absolute;
      top: 53px;
      right: 0;
      width: 38px;
      height: 38px;
      border: 1px solid #cdcdcd;
      background: #ffffff url(http://image2.megabox.co.kr/mop/home/btns/btn_close.png) 9px 9px no-repeat;

      span {
        display: inline-block;
        text-indent: -9999px;
        overflow: hidden;
      }
    }
  }

  .carousel-table {
    display: flex;
    width: 100%;
    border: 1px solid #e0e0e0;
    background: #fff;

    .fas {
      padding: 5px 10px;
    }
    .carousel-table-list {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      width: 445px;
      overflow: hidden;

      ul {
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        transform: translateX(0);
        transition-duration: 0.2s;

        .day-button {
          width: 68px;
          height: 23px;
        }

        .time-button {
          width: 44px;
          height: 23px;
        }
      }
    }
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 50%);
  }
  .wrapper {
    width: 970px;
    height: 700px;
    margin: 0 auto;
    
  
    .main-container {
      position: relative;
      border: 1px solid #cdcdcd;
      top: 90px;
      background: #fff;
      background-color: #f9f9f9;
      box-shadow: 0 6px 10px rgba(0,0,0,0.5);


      .title {
        margin-bottom: 13px;
        h2 {
          color: #503396;
          font-size: 1.5rem;
          font-weight: 700;

        }
      }

      .hidden-text {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
      }

      .box-padding {
        padding: 18px 18px 0 18px;
        border-bottom: 1px solid #e0e0e0;
      }

      .active {
        background-color: #198591;
        color: #fff;
        border-radius: 5%;
      }

      .reload {
        background: url($sprite) no-repeat -80px -80px;
        width: 22px;
        height: 22px;
      }

      .left-tab {
        width: 45%;
        float: left;
        border-right: 1px solid #e0e0e0;
        
        .date {
          height: 90px;

          .title {
            display: flex;
            justify-content: space-between;

            button {
              background: url($sprite) no-repeat 0px -80px;
              width: 22px;
              height: 22px;
            }
          }
        }

        .theater {
          height: 220px;

          .title {
            display: flex;
            justify-content: space-between;

          }

          .place {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .add-movie {
              border: 1px solid #e0e0e0;
              padding: 20px 0;
              width: 190px;
              text-align: center;
              margin-bottom: 10px;
              outline-color: #cdcdcd;
              background: url('http://image2.megabox.co.kr/mop/home/btns/btn_add.png') 50% 50% no-repeat;
            }

            .theater-list {
              position: relative;
              border: 1px solid #e0e0e0;
              padding: 20px 0;
              width: 190px;
              text-align: center;
              margin-bottom: 10px;
              outline-color: #cdcdcd;
              background: #fff;

              button {
                position: absolute;
                top: -1px;
                right: -1px;
                width: 20px;
                height: 20px;
                border: 1px solid #e0e0e0;
                background: #ffffff url('http://image2.megabox.co.kr/mop/home/btns/btn_close.png') 4px -86px no-repeat;
              }
            }
          }

        }

        .movie {
          height: 310px;
          
          .title {
            display: flex;
            justify-content: space-between;
    
              .select-all-movie {
                background: url($sprite) no-repeat -120px -120px;
                width: 22px;
                height: 22px;
                margin-right: 5px;
              }
          }

          .movie-select {
            background: #FEFEFE;
            width: 100%;

            .all-movie {
              height: 140px;
              border: 1px solid #e0e0e0;
              
              p {
                color: #333;
                font-size: 2rem;
                text-align: center;
                line-height: 139px;
              }
            }

            .select-movie {
              height: 90px;
              width: 100%;
              border-right: 1px solid #e0e0e0;
              border-bottom: 1px solid #e0e0e0;
              border-left: 1px solid #e0e0e0;
              background: url('http://image2.megabox.co.kr/mop/home/btns/select_movie.png') no-repeat 50% 50%;
              outline-color: #cdcdcd;

              span {
                display: block;
                width: 0;
                overflow: hidden;
              }
            }

            .poster-list {
              display: flex;
              justify-content: space-between;

              .poster {
                position: relative;
                border: 1px solid #e0e0e0;
                height: 140px;
                .cancel {
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #e0e0e0;
                  background: #ffffff url('http://image2.megabox.co.kr/mop/home/btns/btn_close.png') 4px -86px no-repeat;
                }

                img {
                  width: 95px;
                  height: 140px;
                }
              }
            }

            .plus-movie {
              border: 1px solid #e0e0e0;
              button {
                width: 95px;
                height: 140px;
                background: url('http://image2.megabox.co.kr/mop/home/btns/btn_add.png') 50% 50% no-repeat;
              }
            }

            .select-kinds {
              padding: 20px 30px;
              border-bottom: 1px solid #e0e0e0;
              border-right: 1px solid #e0e0e0;
              border-left: 1px solid #e0e0e0;
              background-color: #f9f9f9;
              li {
                display: inline-block;
                width: 110px;
              }
            }
          }
        }
      }

      .right-tab {
        width: 55%;
        float: right;

        .time {
          height: 90px;
          border-bottom: 1px solid #e0e0e0;
        }

        .time-list {
          .list-wrapper {
            background: url('http://image2.megabox.co.kr/mop/home/no_movie_list.png') no-repeat 50% 50% #fff;
            height: 530px;
          }

          .movie-list {
            height: 530px;
            overflow: scroll;
            overflow-x: hidden;
            li {
              display: flex;
              padding: 10px 20px;
              border-bottom: 1px solid #e5e5e5;
              background: #fff;

              .start-time {
                font-size: 1.3rem;
                font-weight: bold;
                align-self: center;
                border-right: 1px solid #e5e5e5;
                padding-right: 8px;
              }

              .screening-information {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-left: 8px;

                .left-side {
                  display: flex;
                  flex-direction: column;
                  align-self: center;

                  .age-all {
                    background: url('http://image2.megabox.co.kr/mop/home/bg_age2.png') 0 0 no-repeat;
                    display: inline-block;
                    width: 17px;
                    height: 18px;
                    vertical-align: bottom;
                  }

                  .age-12 {
                    background: url('http://image2.megabox.co.kr/mop/home/bg_age2.png') -60px 0 no-repeat;
                    display: inline-block;
                    width: 17px;
                    height: 18px;
                    vertical-align: bottom;
                  }

                  .age-15 {
                    background: url('http://image2.megabox.co.kr/mop/home/bg_age2.png') -90px 0 no-repeat;
                    display: inline-block;
                    width: 17px;
                    height: 18px;
                    vertical-align: bottom;
                  }

                  .age-adult {
                    background: url('http://image2.megabox.co.kr/mop/home/bg_age2.png') -30px 0 no-repeat;
                    display: inline-block;
                    width: 17px;
                    height: 18px;
                    vertical-align: bottom;
                  }

                  .movie-title {
                    margin-bottom: 5px;
                    margin-left: 5px;
                  }

                  .movie-type {
                    font-size: 0.8rem;
                    color: #666;
                  }
                }

                .right-side {
                  display: flex;
                  flex-direction: column;
                  text-align: right;

                  .movie-theater {
                    font-size: 0.8rem;
                    margin-bottom: 4px;
                  }
                  .movie-screen {
                    font-size: 0.8rem;
                    margin-bottom: 4px;
                  }
                  .movie-seat {
                    font-size: 0.8rem;
                    color: #666;
                  }
                }
              }
            }

          }

        }
      }
      
      .advertisement {
        background: url('http://mlink-cdn.netinsight.co.kr/2019/07/09/a69fdb0cb6ad119dd59f887d3f16e486.jpg') no-repeat;
        height: 80px;
        clear: both;
        border-top: 1px solid #e0e0e0;
        cursor: pointer;
      }
    }
  }
}

app-calendar {
  position: absolute;
  background: #fff;
  top: 50px;
  left: 152px;
  z-index: 50;
}