<div class="quick-booking">
  <div class="bg"></div>
  <div class="wrapper">
    <div class="main-container">
      <div class="left-tab">
        <div class="date box-padding">
          <div class="title">
            <h2>날짜</h2>
            <button class="hidden-text" (click)="bookingService.celendarModalState = !bookingService.celendarModalState">달력버튼</button>
            <app-calendar *ngIf="bookingService.celendarModalState"></app-calendar>
          </div>
          <div class="carousel-table">
            <button>
              <i class="fas fa-caret-left" (click)="prevTime(ulTime)"></i>
            </button>
            <div class="carousel-table-list">
              <ul #ulTime>
                <li *ngFor="let item of afterToday">
                  <button class="day-button" [class.active]="item === currentTime">{{item}}</button>
                </li>
              </ul>
            </div>
            <button>
              <i class="fas fa-caret-right" (click)="nextTime(ulTime)"></i>
            </button>
          </div>
        </div>
        <div class="theater box-padding">
          <div class="title">
            <h2>극장</h2>
            <button class="reload">
              <span class="hidden-text">새로고침</span>
            </button>
          </div>
          <div class="place">
            <button class="add-movie" (click)="bookingService.theaterModalState = true">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
            <button class="add-movie">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
            <button class="add-movie">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
            <button class="add-movie">
              <span class="hidden-text">영화 추가 버튼</span>
            </button>
          </div>
        </div>
        <div class="movie box-padding">
          <div class="title">
            <h2>영화</h2>
            <div class="button-container">
              <button class="select-all-movie">
                <span class="hidden-text">선택 영화 전체 지우기</span>
              </button>
              <button class="reload">
                <span class="hidden-text">새로고침</span>
              </button>
            </div>
          </div>
          <div class="movie-select">
            <div class="all-movie">
              <p>모든 영화</p>
            </div>
            <button class="select-movie" (click)="bookingService.movieModalState = true">
              <span>영화 선택</span>
            </button>
          </div>
        </div>
      </div>
      <div class="right-tab">
        <div class="time box-padding">
          <div class="title">
            <h2>시간</h2>
          </div>
          <div class="carousel-table">
            <button>
              <i class="fas fa-caret-left" (click)="prevTime(ulTime)"></i>
            </button>
            <div class="carousel-table-list">
              <ul #ulTime>
                <li *ngFor="let item of timeTable">
                  <button class="time-button" [class.active]="item === currentTime">{{item}}</button>
                </li>
              </ul>
            </div>
            <button>
              <i class="fas fa-caret-right" (click)="nextTime(ulTime)"></i>
            </button>
          </div>
        </div>
        <div class="time-list">
          <div class="empty-list"></div>
        </div>
      </div>
      <div class="advertisement"></div>
    </div>
  </div>

</div>
<app-movie-modal *ngIf="bookingService.movieModalState"></app-movie-modal>
<app-theater-modal *ngIf="bookingService.theaterModalState"></app-theater-modal>
